@import "../../siteColorList/Colors.scss";

.button{
	// display:block;
	padding: 10px 30px;
	// width: 164px;
	// height: 43px;
	background-color: transparent;
	font-family: 'IBM Plex Serif', serif;
	color: $buttonColor;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid $buttonBorderColor;
    border-radius: 5px;
	cursor: pointer;
}