$headerNavLinkColor:rgba(255, 255, 255, 1);
$headerSearchInpColor:rgba(255, 255, 255, 1);
$headerLangSelectBorderColor:rgba(255, 255, 255, 1);
$headerLangSelectedColor:rgba(255, 255, 255, 1);
$headerLangOptionColor:black;
$mainSliderColor:rgba(255, 255, 255, 1);
$buttonColor:rgba(23, 23, 23, 1);
$buttonBorderColor:#171717;
$socialBgColor:rgba(23, 23, 23, 1);
$socialBorderColor:rgba(255, 255, 255, 1);
$FavoriteItemsCategoryTitleColor:rgba(230, 168, 76, 1);
$FavoriteItemsOverlayPriceUnitBgColor:rgba(23, 23, 23, .5);
$FavoriteItemsOverlayPriceUnitColor:rgba(255, 255, 255, 1);
$FavoriteItemsPriceUnitLineBgColor:rgba(255, 255, 255, .7);
$FavoriteItemsOverlayImgTitleBgColor:rgba(0, 0, 0, 0.3);
$FavoriteItemsOverlayPrTitleColor:rgba(255, 255, 255, 1);
$TitleListMainTitleColor:rgba(230, 168, 76, 1);
$TitleListDetailedTitleColor:rgba(255, 255, 255, 1);
$MostlyStoryCakeStoreDescriptionColor:rgba(255, 255, 255, .5);
$HomeContactBgColor:rgba(23, 23, 23, .9);
$HomeContactColor:rgba(255, 255, 255, 1);
$FooterNavLinkColor:rgba(23, 23, 23, 1);