// import all site color list style
@import "../../siteColorList/Colors.scss";

.TextAndImg{
	display: flex;
	padding: 50px 0;
	.TextWrapper{
		width: 50%;
	   background-color: rgba(255, 251, 245, 1);
		padding-left: 100px;
	   .descrioption{
	   font-size: 13px;
	   line-height: 25px;
	   padding: 20px 80px 33px 0;
	   color: rgba(23, 23, 23, .8);
	   font-family: 'Inter', sans-serif;   
	   }
	}
	.sliderWrapper{
		width: 50%;
		.branchesImageSlider{
			height: 390px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				// aspect-ratio: 3/4;
				// object-fit: cover;
			}
		}
	}
	}


	//.TextAndImg component responsive 
@media only screen and (max-width : 950px) {
	.TextAndImg{
		flex-direction: column;
		padding: 50px 0;
		.TextWrapper{
			padding: 0 10px;
			width: 100%;
		   .descrioption{
		   padding: 0 0 20px 0;
		   }
		}
		.sliderWrapper {
			width: 100%;
			padding: 10px;
			.branchesImageSlider {
				height: 200px;
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
		}
}