// import all site color list 
@import "../../siteColorList/Colors.scss";


#Product{

.FilterAndProduct{
	padding: 10px 100px;
	display: flex;
	column-gap: 2rem;
	position: relative;
	.mobileFilter{
		display: none;
		.filterShow{
			margin: 0 0 20px 100px;
		          }
	}

	.ProductWrapper{
		width: calc(100% - 280px);
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
		gap: 2rem;
	}
}
}

// Product page responsive
@media only screen and (max-width: 650px) {
	#Product{
	
		.filterShow{
			margin: 0 0 20px 100px;
			display: block;
		}
	.FilterAndProduct{
		position: relative;
		padding: 50px 20px 0;
		display: flex;
		column-gap: 0;
		.mobileFilter{
			display: block;
			.filterShow{
			    margin: 0 0 20px 100px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: absolute;
				top: -20px;
				left: -80px;
				cursor: pointer;
				background-color: transparent;
				padding: 8px 20px;
				border: 1px solid rgba(23, 23, 23, 0.1);
				width: 120px;
				font-size: 18px;
				border-radius: 5px;
					  }
		}
		.webFilter{
	      display: none;
		}
		
		.ProductWrapper{
			width:100% ;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
			gap: 2rem;
		}
	}
	}
}