// import all site color list
@import "../../siteColorList/Colors.scss";


.SiteWayWrapper{
	padding: 20px 100px 40px;
   a{  
	font-size: 16px;
	font-weight: 500;
	margin: 20px 2px;
	color: $SiteWayPageColor;
	.line{
		display: inline-block;
		height: 14px;
		margin: 0px 4px -1px 8px;
		width: 1.2px;
		border: none;
		background-color: $SiteWayPageBetweenLineColor;
	}
}
.activePage{
	color: $SiteWayActivePageColor;
	font-size: 17px;
	font-weight: 500;
}
}