// import all site color list
@import "../../siteColorList/Colors.scss";

.SocialListWrapper{
	position: fixed;
	top: 125px;
	right: 0;
	right: calc((100% - 1500px) / 2);     
	z-index: 999;
	width: 50px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 0;
	.facebookIcon{
		margin: 14px 0;
	}

	.instagramIcon,
	.facebookIcon,
	.WhatsappIcon
	{
		width: 47px;
		height: 47px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $socialBgColor;
		border: 1px solid $socialBorderColor;
		border-radius: 100%;
		cursor: pointer;
	}
	.instagramIcon:hover{
		background-color: #E1306C;
	}
	.facebookIcon:hover{
		background-color: #4267B2;
	}
	.WhatsappIcon:hover{
		background-color: green;
	}
}

@media only screen and (max-width: 1500px) {
	.SocialListWrapper {
    	right: 0; 
	}
  }