// import site all color list
@import "../../siteColorList/Colors.scss";

.filterWrapper{
	width: 280px;
	.CategoryFilter{
	  .titleCategory{
		font-size: 1.7rem;
		padding-bottom: 20px;
       display: flex;
	   justify-content: space-between;
	   align-items: center;
	   cursor: pointer;
	   }
	   .categoryName{
		height: 200px;
		padding: 14px 0;
		overflow-y: auto;
		&::-webkit-scrollbar-thumb {
			background-color: rgba(230, 168, 76, 1);
			padding-top: 20px;
			height: 30px;
		}
		&::-webkit-scrollbar{
			width: 4px;
			background-color: rgba(23, 23, 23, .1);
		}
	   }
     }
	 .sortFilter{
		padding: 40px 0;
		.titleFilter{
			font-size: 1.7rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
		}
	 } 

	 .priceFilter{
		.titlePrice{
		font-size: 1.7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		}
	 }
}


// // Product page filter responsive
@media only screen and (max-width: 650px) {
	.filterWrapper{
		width: 280px;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: white;
		z-index: 99;
	//    display: none;
	}
	.active{
		display: block;
	}
}