// import all site color list
@import  "../../siteColorList/Colors.scss";

#FooterSection{
	.FooterWrapper{
		padding: 10px 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.LogoSocial{
			.FooterLogo{
				display: inline-block;
			}
			.footerSocila{
				display: flex;
				justify-content: space-around;
			    margin: 0 auto;
				a{
					border: 2px solid rgba(127, 57, 44, 1);
					margin: 4px 0;
					width: 28px;
					height: 28px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
				}
			}
		}
		.FooterPages{
			display: flex;
			justify-content: space-between;
			a{
				margin-left: 30px;
				font-size: 20px;
				color: $FooterNavLinkColor;
			}
		}
	}
	.line{
		width: 100%;
	}
	.looptech{
		padding: 7px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: black;
			.title{ 
				color: white;
			     margin-right: 14px; 
				 font-size: 20px;
			       }
			.looptechLogo{
				width: 120px;
				height: 20px;
				pointer-events:none;
				color: black;
			}
		}
	}


// FooterSection responsive
@media only screen and (max-width: 800px) {
	#FooterSection{
		.FooterWrapper{
			flex-direction: column;
			.FooterPages{
				flex-direction: column;
				a{
					margin: 7px 0;
				}
			}
		}
	}
}