* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

body {
    font-family: "IBM Plex Serif", serif;
    }

@media only screen and (max-width: 750px) {
    html {
        font-size: 14px;
    }
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 0;
}

/*site allContainer responsive style */
@media only screen and (max-width: 1500px) {
    .container {
        max-width: 100%;
    }
}

/* chakra style */
.css-162mkon {
    display: none !important;
}

/* mainSwiperSlider buttons style */
.mainSlider-swiper-button-prev {
    position: absolute;
    bottom: 50px;
    right: 95px;
    border-radius: 100%;
    width: 47.2px;
    height: 47.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    z-index: 9999999;
    cursor: pointer;
    transition: 0.7s ease;
}
.mainSlider-swiper-button-prev:hover,
.mainSlider-swiper-button-next:hover {
    background-color: rgba(230, 168, 76, 1);
}

.mainSlider-swiper-button-next {
    position: absolute;
    bottom: 50px;
    right: 160px;
    border-radius: 100%;
    width: 47.2px;
    height: 47.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    z-index: 9999999;
    cursor: pointer;
    transition: 0.4s ease;
}
.mainSliderWrapper {
    height: 96vh;
    width: 100%;
    position: relative;
}
.mainSliderWrapper .swiper-pagination {
    display: none !important;
}

/* mainSwiperSlider responsive buttons style */
@media only screen and (max-width: 950px) {
    .mainSlider-swiper-button-prev {
        display: none;
    }
    .mainSlider-swiper-button-next {
        display: none;
    }
}
@media only screen and (max-width: 950px) {
    .mainSliderWrapper .swiper-pagination {
        display: block !important;
    }
}

/* deserts section swiper slider pagination change */
.SliderLeft,
.SliderRight {
    width: 100%;
    aspect-ratio: 1/0.9;
}
.SliderLeft img,
.SliderRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    bottom: 20px !important;
    left: 95% !important;
}
.swiper-pagination-bullet-active {
    background: white !important;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 4px 0 !important;
    background: transparent;
    border: 1px solid white;
    border-radius: 100%;
    opacity: 1;
}
@media only screen and (max-width: 750px) {
    .SliderLeft,
    .SliderRight {
        aspect-ratio: 1/0.6;
    }
}

@media only screen and (max-width: 950px) {
    .swiper-pagination {
        display: inherit !important;
        bottom: 10px !important;
        left: 0 !important;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 4px 5px !important;
    }
}

/* socialMedia slider style  */
.SocialMediaSlider .swiper-wrapper {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}
.SocialMediaSlider .swiper-pagination {
    flex-direction: inherit !important;
    position: inherit !important;
    left: 0 !important;
    bottom: 0 !important;
    justify-content: center;
}
.SocialMediaSlider .swiper-pagination-bullet-active {
    background: rgba(230, 168, 76, 1) !important;
    opacity: 1 !important;
}
.SocialMediaSlider .swiper-pagination-bullet {
    width: 44px;
    height: 7px;
    margin: 4px !important;
    background: rgba(23, 23, 23, 1);
    border: 1px solid transparent;
    border-radius: 10px;
    opacity: 0.3;
}
.fancybox__content {
    aspect-ratio: 1/0.5 !important;
    margin-top: 30px;
}
.fancybox__backdrop {
    background: transparent !important;
}

.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn {
    padding-top: 130px;
}
/* google map style */
.leaflet-bar {
    display: none;
}

.horizontal-slider {
    display: flex;
    align-items: center;
}

/* filter page price filter react slider style */
.example-track {
    height: 3px;
    background: rgba(23, 23, 23, 0.3);
}

.example-track-0 {
    background: rgba(23, 23, 23, 0.3);
}
.example-track-1 {
    background: rgba(230, 168, 76, 1);
}

.example-thumb {
    cursor: pointer;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid rgba(230, 168, 76, 1);
    width: 21px;
    height: 21px;
}

.example-thumb:active {
    width: 1.75rem;
    height: 1.75rem;
}

/* pagination kitabxana style */
.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;
    justify-content: center;
}

.pagination > li {
    cursor: pointer;
}

.pagination > li > a {
    padding: 0.5rem 1rem;
    background-color: red;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pagination > li.active > a {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 550px) {
    .SocialMediaSlider .swiper-pagination-bullet {
        width: 10px;
        height: 2px;
        margin: 4px !important;
    }
}
