// import site all color list
@import "../../siteColorList/Colors.scss";

.prCartWrapper{
	.prImg{
     width: 100%;
	 aspect-ratio: 3/4;
	 object-fit: cover;
	 border-radius: 3.75px;
	}
	.prtitle{
        font-size: 1.125rem;
		font-weight: 700;
		color: $productPageTitleColor;
		word-break: break-word;
	}
	.prUnitPrice{
		display: flex;
		align-items: center;
		.unit{
			font-weight: 700;
			color: $productPagePriceColor;
		}
		.line{
			background-color: $productPageLineBgColor;
			border: none;
			flex: 1;
			height: 1px;
			margin: 7px 7px 0;
		}
		.price{
			font-weight: 700;
			color: $productPagePriceColor;
			font-family: initial;
		}
	}
}